<template>
    <div>
        <b-table striped hover :items="items" :fields="fields" fixed>
            <template slot="actions" slot-scope="row">
                <b-button
                    variant="danger"
                    size="sm"
                    @click="removeApiKey(row.item.sub)"
                    v-if="role != 'account'">Delete</b-button>
            </template>
        </b-table>
        <b-form class="float-right mb-2 ml-2 mr-2" inline @submit.prevent="addApiKey">
            <label for="new-api-key--name">Name:</label>
            <b-form-input
                type="text"
                id="new-api-key--name"
                class="ml-2"
                required placeholder="My Api Key"
                v-model="newKeyName"></b-form-input>
            <b-button type="submit" class="ml-3" variant="primary" :disabled="addingApiKey">Add New Key</b-button>
        </b-form>
    </div>
</template>

<script>
import { addApiKey, removeApiKey } from '../client'

export default {
    props: ['api-keys', 'role'],
    data() {
        return {
            fields: [
                { key: 'name', sortable: true },
                { key: 'sub', label: 'API-Key', sortable: true },
                { key: 'secret', label: 'Secret' },
                { key: 'actions', label: '#', class: 'actions' }
            ],

            newKeyName: "",
            addingApiKey: false
        }
    },

    computed: {
        items() {
            const role = this.role
            return this.apiKeys.filter(function(key) {
                return key.roles.indexOf(role) >= 0
            })
        }
    },

    methods: {
        addApiKey() {
            const self = this
            self.addingApiKey = true

            addApiKey(self.newKeyName, self.role)
            .then(function(newApiKey) {
                self.addingApiKey = false
                self.newKeyName = ""
                self.$emit('added', newApiKey)
                self.$bus.$emit('alert', { type: 'success', message: 'New Api-Key added. Please copy the secret key since it will not be saved!' })
            })
            .catch(function(err) {
                self.addingApiKey = false
                console.error(err)
                self.$bus.$emit('alert', { type: 'danger', message: 'Could not add Api-Key!' })
            })
        },

        removeApiKey(key) {
            const self = this
            removeApiKey(key).then(function(success) {
                if (success) {
                    self.$emit('removed', key)
                    self.$bus.$emit('alert', { type: 'success', message: 'Api-Key ' + key + ' successfully removed.' })
                } else {
                    self.$bus.$emit('alert', { type: 'danger', message: 'Could not remove Api-Key ' + key + '!' })
                }
            })
        }
    }
}
</script>

<style>
.table td, .table th {
    border-top: none;
}
.actions {
    width: 5rem
}
</style>
