<template>
    <b-alert variant="info" show v-if="!isLoggedIn">Log in to try it out!</b-alert>

    <b-card v-else>
        <h4 slot="header" class="card-title">
            <span class="font-weight-bold" :class="methodVariant">{{method}}</span>
            {{path}}
        </h4>

        <slot></slot>

        <b-tabs>
            <b-tab title="Request">

            </b-tab>
            <b-tab title="Response">

            </b-tab>
            <b-tab title="Status Codes">

            </b-tab>
        </b-tabs>
        <b-button variant="primary">Send</b-button>
    </b-card>
</template>

<script>
export default {
    props: ['method', 'path'],
    computed: {
        methodVariant() {
            switch(this.method) {
                case 'GET': return 'text-success'
                case 'POST': return 'text-info'
                case 'PUT': return 'text-warning'
                case 'DELETE': return 'text-danger'
                default: return 'text-dark'
            }
        },
        isLoggedIn() {
            return this.$app.isLoggedIn
        }
    }
}
</script>
