<template>
    <b-card no-body>
        <b-tabs pills card vertical>
            <b-tab title="Account" active no-body>
                <ApiKeysForm :api-keys="apiKeys" role="account" @added="addedApiKey" @removed="removedApiKey" />
            </b-tab>
            <b-tab title="Media Capture" no-body>
                <ApiKeysForm :api-keys="apiKeys" role="media-capture" @added="addedApiKey" @removed="removedApiKey" />
            </b-tab>
            <b-tab title="Api Test" no-body>
                <ApiTester method="GET" path="/access/v1/me">
                    Get information about the user.
                </ApiTester>
            </b-tab>
        </b-tabs>
    </b-card>
</template>

<script>
import ApiKeysForm from './components/ApiKeysForm.vue'
import ApiTester from './components/ApiTester.vue'
import { getApiKeys } from './client'

export default {
    components: {ApiKeysForm, ApiTester},

    data() {
        return {
            apiKeys: []
        }
    },

    created() {
        const self = this

        getApiKeys().then(function(apiKeys) {
            self.apiKeys = apiKeys
        })
    },

    methods: {
        addedApiKey(newApiKey) {
            newApiKey._rowVariant = 'info'
            this.apiKeys.push(newApiKey)
        },

        removedApiKey(sub) {
            this.apiKeys = this.apiKeys.filter(key => key.sub != sub)
        }
    }
}
</script>

<style>

</style>
