<template>
    <div id="app">
        <div id="progress"></div>

        <b-navbar toggleable="md" type="dark" variant="dark">
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand href="/">Makrohost API</b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <b-nav-item to="general">General</b-nav-item>
                    <b-nav-item to="account">Account</b-nav-item>
                    <b-nav-item to="media-capture">Media Capture</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item to="login" v-if="!isLoggedIn">Login</b-nav-item>
                    <b-nav-item-dropdown :text="userName" right v-if="isLoggedIn">
                        <b-dropdown-header>Profile</b-dropdown-header>
                        <b-dropdown-item>My Account</b-dropdown-item>
                        <b-dropdown-item to="api-keys">My Api Keys</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item @click="logout">Logout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <div class="container mt-5">
            <h1 class="display-3 mb-5" v-show="$route.meta.title">{{ $route.meta.title }}</h1>

            <b-alert dismissible :show="showAlert" :variant="alertType" @dismissed="dismissAlert">{{ alertMessage }}</b-alert>

            <router-view @click.left.capture="handleClick"></router-view>
        </div>
    </div>
</template>
<script>
import { getMe } from './client'

export default {
    data() {
        return {
            isLoggedIn: false,
            userName: 'Joshua Reusch',

            showAlert: false,
            alertType: 'default',
            alertMessage: ''
        };
    },

    created() {
        this.$bus.$on('alert', this.alert)
        this.$bus.$on('login', this.login)
    },

    methods: {
        goHome() {
            this.$router.push({ path: '/' });
        },

        handleClick(event) {
            // this allows us to use regular links instead of <router-link> (kind of)
            if (event.ctrlKey == false) {
                const anchor = event.path.find(node => node instanceof Element && node.nodeName.toLowerCase() == 'a');
                console.log(anchor);
                if (anchor && anchor.getAttribute("target") !== "_blank") {
                    if (anchor.href.indexOf(window.location.origin) === 0 ||anchor.href[0] == '/') {
                        event.preventDefault();
                        this.$router.push({ path: anchor.pathname });
                    }
                }
            }
        },


        alert(opts) {
            this.alertType = opts.type
            this.alertMessage = opts.message
            this.showAlert = true
        },

        dismissAlert() {
            this.showAlert = false
        },


        login(token) {
            const self = this

            getMe().then(function(user) {
                self.userName = user.name ? user.name : user.email
                self.isLoggedIn = true
                self.$router.replace('/api-keys')
            })
        },

        logout() {
            this.isLoggedIn = false
            this.$router.push('/login')
        }
    }
}
</script>
<style>

</style>
