<template>
    <b-jumbotron header="Login" lead="Log in to your Makrohost account.">
        <b-form @submit.prevent="login">
            <b-form-group label="E-Mail:" label-for="login-email">
                <b-form-input id="login-email" type="email" v-model="email" required placeholder="Enter E-Mail"></b-form-input>
            </b-form-group>
            <b-form-group label="Password:" label-for="login-password">
                <b-form-input id="login-password" type="password" v-model="password" required></b-form-input>
            </b-form-group>
            <b-form-group>
                <b-form-checkbox v-model="rememberMe">Remember me</b-form-checkbox>
                <b-button type="submit" variant="primary" class="float-right" :disabled="loggingIn">Login</b-button>
            </b-form-group>

        </b-form>
    </b-jumbotron>
</template>
<script>
import { login } from './client'

export default {
    data() {
        return {
            email: localStorage.getItem('email'),
            password: localStorage.getItem('password'),
            rememberMe: true,
            loggingIn: false
        }
    },

    methods: {
        login() {
            const self = this
            self.loggingIn = true

            localStorage.setItem('email', self.rememberMe ? self.email : "")
            localStorage.setItem('password', self.rememberMe ? self.password : "")

            login(self.email, self.password)
            .then(function(response) {
                if (response) {
                    self.$bus.$emit('login', response)
                } else {
                    self.$bus.$emit('alert', { type: 'danger', message: 'Invalid username or password!' })
                }

                self.loggingIn = false
            })
        }
    }
}
</script>
